/*NG-CLOAK*/
[ng\:cloak], [data-ng-cloak], .ng-cloak {
    display: none;
}

/*INITIAL RESET*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    line-height: 1;
    font-size: 10pt;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    background-color: saddlebrown;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
}

/*FLOAT CLEARFIX*/
.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
}

.clearfix:after {
    clear: both;
    height: 0;
}

/*MESSAGES*/
.success-message-container {
    width: 100%;
    line-height: 20pt;
    background-color: #E4E8B2;
    color: saddlebrown;
    font-size: 12pt;
    border-radius: 5px;
    z-index: 1000;
}

.error-message-container {
    width: 100%;
    line-height: 20pt;
    background-color: red;
    color: beige;
    font-size: 12pt;
    border-radius: 5px;
    z-index: 1000;
}

/*HEADER*/

.navbar {
    min-height: 10px;
    padding: 0;
}

.navbar-header {
    padding: 0;
}

/*HOME ADS*/
.container-fluid {
    text-align: center;
}

.ad-img-container {
    padding: 10px;
    background-color: #E4E8B2;
    text-align: center;
}

.ad-img-container img {
    max-width: 100px;
    max-height: 200px;
    min-height: 80px;
}

/*FILTERS*/
hr, legend {
    margin: 5px;
    border-bottom: burlywood solid 1px;
}

.aside {
    font-size: 0.9em;
    border-radius: 5px;
}

.filter, .side-nav {
    max-height: 200px;
    overflow: hidden;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    background-color: beige;
    border-radius: 5px;
}

.filter:hover {
    overflow-y: auto;
}

.filter > h3 {
    font-size: 1.7em;
    padding: 0;
    margin: 0;
    text-align: center;
}

.filter input[type="radio"]:checked + label {
    background-color: saddlebrown;
    color: beige;
    width: 100%;
    padding: 3px 5px;
}

/*SIDE NAV*/
.side-nav ul {
    padding: 0;
}

.side-nav a {
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 3px 5px;
}

.side-nav a:active, .side-nav a:hover {
    text-decoration: none;
    background-color: saddlebrown;
    color: beige;
}

/*AUTHENTICATION NAV*/
.auth-nav {
    background-color: beige;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.auth-nav > p {
    font-weight: bold;
}

.auth-nav a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    margin-left: 10%;
    width: 80%;
    border-radius: 5px;
    background-color: saddlebrown;
    font-size: 1.2em;
    color: beige;
}

/*LOGIN FORM*/
#login-form .form-group {
    display: block;
}

/*HOME ADS*/
.ad {
    background-color: beige;
    margin-bottom: 2px;
    border-radius: 5px;
}

.ad p {
    margin: 5px;
}

.ad-text {
    text-indent: 15px;
    font-size: .9em;

}

.on-background {
    background-color: #E4E8B2;
}

.on-background > span {
    font-weight: 600;
    font-size: .8em;
    margin-right: 10px;
}

/*PAGINATION*/
.pagination li > a {
    color: #000000;
    background-color: beige;
}

.form-group label {
    display: block;
}

.form-group input {
    margin-top: 10px;
}

form {
    background-color: beige;
    border-radius: 5px;
}

.btn {
    background-color: saddlebrown;
    font-size: 1.2em;
    color: beige;
    margin-bottom: 5px;
}

.btn-sm {
    background-color: saddlebrown;
    color: beige;
}

.btn.ligth {
    background-color: beige;
    color: saddlebrown;
}

/*BROWSE BUTTONS*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*TABLES*/
table {
    background-color: beige;
    border-radius: 5px;
    border-spacing: 2px;
    border-collapse: separate;
}

table th {
    cursor: pointer;
    text-align: center;
}

/*FOOTER*/
.footer.navbar-fixed-bottom {
    color: #9d9d9d;
    background-color: black;
    padding: 5px;
}