<div data-ng-controller="AdsController">

    <section class="container col-md-8">
        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </section>
    <aside class="col-md-2 pull-right">
        <div class="category-filter">
            <h3>Categories</h3>
            <hr/>
            <ul class="categories-list">
                <li data-ng-repeat="category in categories" class="category-item"><a href="#" data-id="{{category.id}}">{{category.name}}</a>
                </li>
            </ul>
        </div>
        <div class="towns-filter">
            <h3>Towns</h3>
            <hr/>
            <ul class="towns-list">
                <li class="town-item"><a href="#">{{something}}</a></li>
            </ul>
        </div>
    </aside>
</div>