<form data-ng-controller="AdminCreateTownController"
      class="form-horizontal col-md-offset-2 col-md-5 col-sm-offset-0 col-sm-12 col-xs-12" id="create-town-form"
      name="createTownForm">
    <fieldset>
        <legend>Create Town</legend>
        <div class="container-fluid col-md-12 col-sm-12 col-xs-12 clearfix">
            <div class="form-group col-md-12 col-sm-6 col-xs-12 pull-left">
                <label for="input-town" class="control-label pull-left">Town</label>

                <div>
                    <input type="text" data-ng-model="town.name" required="required" class="form-control"
                           id="input-town" placeholder="Town name">
                </div>
            </div>

            <div class="form-group pull-left col-md-12">
                <div>
                    <button data-ng-click="createTown(town, createTownForm)"
                            data-ng-disabled="createTownForm.$invalid"
                            class="btn form-btn col-md-4">Create
                    </button>
                    <a href="#/admin/towns/list" class="btn form-btn">Cancel</a>
                </div>
            </div>
        </div>
    </fieldset>
</form>