<form data-ng-controller="RegisterController" class="form-horizontal col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-8 col-xs-12"
      id="register-form"
      name="registerForm">
    <fieldset>
        <legend>User Registration</legend>
        <div class="container-fluid col-md-12 col-sm-12 col-xs-12 clearfix">
            <div class="form-group col-md-12 col-sm-6 col-xs-12 pull-left">
                <label for="input-username" class="control-label pull-left">Username</label>

                <div>
                    <input type="text" data-ng-model="user.username" required="required" class="form-control"
                           id="input-username" placeholder="Username">
                </div>
            </div>
            <div>
                <div class="form-group col-sm-6 col-xs-12 pull-left col-md-6">
                    <label for="input-password" class="control-label pull-left">Password</label>

                    <div>
                        <input type="password" data-ng-model="user.password" data-ng-pattern="passwordPattern"
                               required="required" class="form-control"
                               id="input-password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group col-sm-6 col-xs-12 pull-right col-md-6">
                    <label for="input-confirm-password" class="control-label pull-left">Confirm Password</label>

                    <div>
                        <input type="password" data-ng-model="user.confirmPassword" data-ng-pattern="passwordPattern"
                               required="required"
                               class="form-control" id="input-confirm-password"
                               placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group pull-left col-md-6 col-sm-6 col-xs-12">
                    <label for="input-name" class="control-label pull-left">Name</label>

                    <div>
                        <input type="text" data-ng-model="user.name" required="required" class="form-control"
                               id="input-name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group pull-right col-md-6 col-sm-6 col-xs-12">
                    <label for="input-email" class="control-label pull-left">Email</label>

                    <div>
                        <input type="text" data-ng-model="user.email" data-ng-pattern="emailPattern" required="required"
                               class="form-control"
                               id="input-email" placeholder="Email">
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group pull-left col-md-6 col-sm-6 col-xs-12">
                    <label for="input-phone" class="control-label pull-left">Phone</label>

                    <div>
                        <input type="text" data-ng-model="user.phone" class="form-control"
                               id="input-phone" placeholder="Phone">
                    </div>
                </div>
                <div class="form-group pull-right col-md-6 col-sm-6 col-xs-12">
                    <label for="reg-select-town" class="control-label pull-left">Town</label>

                    <div>
                        <select class="form-control" id="reg-select-town" data-ng-model="user.townId">
                            <option data-ng-repeat="town in towns" data-id="{{town.id}}" value="{{town.id}}">
                                {{town.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group pull-left col-md-12 col-sm-12 col-xs-12">
                <div>
                    <button data-ng-click="register(user, registerForm)"
                            data-ng-disabled="registerForm.$invalid || user.password != user.confirmPassword"
                            class="btn form-btn col-md-4">Register
                    </button>
                    <a href="#/login">Login here</a>
                </div>
            </div>
        </div>
    </fieldset>
</form>