<form data-ng-controller="RegisterController" class="form-horizontal col-md-offset-1 col-md-8" id="register-form" name="register-form">
    <fieldset>
        <legend>User Registration</legend>
        <div class="container-fluid col-md-12 clearfix">
            <div class="form-group col-md-12 pull-left">
                <label for="input-username" class="control-label pull-left">Username</label>

                <div>
                    <input type="text" class="form-control" id="input-username" placeholder="Username">
                </div>
            </div>
            <div>
                <div class="form-group pull-left col-md-6">
                    <label for="input-password" class="control-label pull-left">Password</label>

                    <div>
                        <input type="password" class="form-control" id="input-password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group pull-right col-md-6">
                    <label for="input-confirm-password" class="control-label pull-left">Confirm Password</label>

                    <div>
                        <input type="password" class="form-control" id="input-confirm-password"
                               placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group pull-left col-md-6">
                    <label for="input-name" class="control-label pull-left">Name</label>

                    <div>
                        <input type="text" class="form-control" id="input-name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group pull-right col-md-6">
                    <label for="input-email" class="control-label pull-left">Email</label>

                    <div>
                        <input type="text" class="form-control" id="input-email" placeholder="Email">
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group pull-left col-md-6">
                    <label for="input-phone" class="control-label pull-left">Phone</label>

                    <div>
                        <input type="text" class="form-control" id="input-phone" placeholder="Phone">
                    </div>
                </div>
                <div class="form-group pull-right col-md-6">
                    <label for="reg-select-town" class="control-label pull-left">Town</label>

                    <div>
                        <select class="form-control" id="reg-select-town">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group pull-left col-md-12">
                <div>
                    <button class="btn form-btn col-md-4">Register</button>
                    <a href="#/login">Login here</a>
                </div>
            </div>
        </div>
    </fieldset>
</form>