<div data-ng-controller="UserAdsController" class="row clearfix">

    <section class="container-fluid col-md-9 col-sm-12 col-xs-12">
        <ul class="ads row">
            <li data-ng-repeat="ad in ads" class="ad read-ad col-md-12">
                <div class="row clearfix">
                    <h4 class="col-md-9">{{ad.title}}</h4>
                    <time class="col-md-3 pull-right">{{ad.date | date:'d-MMM-yyyy'}}</time>
                </div>
                <div class="row clearfix">
                    <div class="ad-img-container col-md-3 pull-left">
                        <img src="" alt="" data-ng-src="{{ad.imageDataUrl}}"/>
                        <img src="" alt="" data-ng-if="!ad.imageDataUrl" data-ng-src="./app/imgs/no-image.png"/>
                    </div>
                    <div class="col-md-9">
                        <p class="ad-text">{{ad.text}}</p>

                        <p class="ad-category on-background"><span>Category: </span>{{ad.categoryName}}</p>

                        <p class="ad-town on-background"><span>Town: </span>{{ad.townName}}</p>
                    </div>
                </div>
            </li>
        </ul>
        <div pagination class="row"></div>
    </section>
</div>