<div class="status-list-item">
    <input type="radio" name="statuses" id="all-statuses" value="" hidden="hidden" checked/>
    <label for="all-statuses" data-ng-click="filterByStatus(null)">All</label>
</div>
<div class="statuses-list-item">
    <input type="radio" name="statuses" id="status-published" value="Published" hidden="hidden"/>
    <label for="status-published" data-ng-click="filterByStatus('Published')">Published</label>
</div>
<div class="statuses-list-item">
    <input type="radio" name="statuses" id="status-waiting" value="waitingApproval" hidden="hidden"/>
    <label for="status-waiting" data-ng-click="filterByStatus('WaitingApproval')">Waiting Approval</label>
</div>
<div class="statuses-list-item">
    <input type="radio" name="statuses" id="status-inactive" value="inactive" hidden="hidden"/>
    <label for="status-inactive" data-ng-click="filterByStatus('Inactive')">Inactive</label>
</div>
<div class="statuses-list-item">
    <input type="radio" name="statuses" id="status-rejected" value="Rejected" hidden="hidden"/>
    <label for="status-rejected" data-ng-click="filterByStatus('rejected')">Rejected</label>
</div>